@import 'mixin';
@import 'vendor/reset';
@import 'vars';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Blocks
// @import 'blocks/container.scss';

