$gray: rgba(98, 98, 98, 0.94);;
$gray-light: #817f7e;
$orange: #fc6744;
$black: #000;
$cream-white: #e9e9ea;
$white: #fff;
$pink: #fff3f0;

$desktop: 1199px;
$tablet: 768px;
$phone: 480px;
$iphone-5: 320px;

// @include breakpoint($desktop) {

// }