<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <button class="page__item-btn page__item-btn--footer">
        <img src="assets/images/process/plus.svg" alt="icon">
        <div class="page__text">Contact Us</div>
      </button>

      <div class="footer__social">
        <div class="footer__social-icons">
          <div class="footer__social-icon">
            <a href="https://www.facebook.com/" target="_blank">
              <img src="assets/images/footer-social/facebook.svg" alt="facebook">
            </a>
          </div>
          <div class="footer__social-icon">
            <a href="https://twitter.com/?lang=ru" target="_blank">
              <img src="assets/images/footer-social/twitter.svg" alt="twitter">
            </a>
          </div>
          <div class="footer__social-icon">
            <a href="https://dribbble.com/tags/bribble" target="_blank">
              <img src="assets/images/footer-social/dribbble.svg" alt="dribbble">
            </a>
          </div>
          <div class="footer__social-icon">
            <a href="https://www.behance.net/" target="_blank">
              <img src="assets/images/footer-social/behance.svg" alt="behance">
            </a>
          </div>
        </div>
        <h3 class="footer__social-credits">
          © 2015 - 2016 Deviserweb Ltd.
        </h3>
      </div><!-- /.footer__social -->
    </div>
  </div>
</footer>