<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__intensive">
        <h2 class="intensive__title">ИНТЕНСИВ </h2>
        <h2 class="intensive__title">ЮЛИИ ВОРМАН</h2>
      </div>

      <nav class="header__nav">
        <a href="#" class="nav__item">ДЛЯ КОГО?</a>
        <a href="#" class="nav__item">ЧТО БУДЕТ НА ИНТЕНСИВЕ?</a>
        <a href="#" class="nav__item">О ЮЛИИ</a>
        <a href="#" class="nav__item">ТАРИФЫ</a>
      </nav>

      <div class="menu-wrap header__inner-menu">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a class="menu__title" href="#">ДЛЯ КОГО?</a></li>
                <li><a class="menu__title" href="#">ЧТО БУДЕТ НА ИНТЕНСИВЕ?</a></li>
                <li><a class="menu__title" href="#">О ЮЛИИ</a></li>
                <li><a class="menu__title" href="#">ТАРИФЫ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.header__inner -->

    <div class="header__content">
      <div class="header__content-info">
        <h2 class="header__content-suptitle">
          ПЕРВЫЙ В МИРЕ ИНТЕНСИВ
        </h2>
        <h1 class="header__content-title">
          ПО СКОРОСТНОМУ <br> НАРАЩИВАНИЮ РЕСНИЦ
        </h1>
        <h2 class="header__content-suptitle">
          ХОЧЕШЬ НАРАЩИВАТЬ 4D ЗА 1 ЧАС? <br>
          НАУЧУ ТЕБЯ НА ИНТЕНСИВЕ 29 МАРТА
        </h2>
        <div class="header__content-btn">
          <a href="#" class="signup__btn">ЗАПИСАТЬСЯ</a>
          <button type="button" class="programm__btn">ПРОГРАММА</button>
        </div>
      </div><!-- /.header__content-info -->
      <div class="header__content-photo">
        <img class="header__photo" src="assets/images/photo.png" alt="">
      </div>
    </div>
  </div><!-- /.container -->
</header><!-- /.header -->