<div class="programm">
  <div class="container">
    <div class="programm__inner">
      <div class="programm__title">
        ВОТ ТАКАЯ ПРОГРАММА ИНТЕНСИВА
      </div>
  
      <div class="programm__block">
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">1</span>. ВВОДНЫЙ УРОК
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">2</span>. СКОРОСТНОЕ СНЯТИЕ РЕСНИЦ
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">3</span>. РАБОТА С КЛЕЕМ. КАК ПРОДЛИТЬ НОСКУ
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">4</span>. ЗДОРОВЬЕ МАСТЕРА
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">5</span>. ЛИЧНЫЙ БРЕНД В <span class="bold">INSTAGRAM</span>: ПОЧЕМУ УВЯДАЮТ КОММЕРЧЕСКИЕ АККАУНТЫ
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">6</span>. ЛОМАЕМ СТЕРЕОТИПЫ МОДЕЛИРОВАНИЯ: ЧЕМ СЛОЖНЕЕ ПРИДУМАЛ, ТЕМ СЛОЖНЕЕ ЖИТЬ
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">7</span>. КЛАССИЧЕСКОЕ НАРАЩИВАНИЕ РЕСНИЦ
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">8</span>. ПУЧОК. КАК БЫСТРО И ПРАВИЛЬНО ФОРМИРОВАТЬ ТЕБЯ, ДРУЖОК?
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            УРОК <span class="bold">9</span>. НАРАЩИВАЕМ ОБЪЕМЫ <span class="bold">2D+</span>
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
      </div><!-- /.programm__block -->
  
      <div class="block__footer">
        <a href="#" class="signup__btn">
          ЗАПИСАТЬСЯ
        </a>
        <div class="block__footer-info">
          <p>
            Все еще думаешь?
          </p>
          <p>
            А места разбирают уже сейчас
          </p>
        </div><!-- /.block__footer-info -->
      </div><!-- /. block__footer -->
      
      <div class="block__footer-container">
        <img src="assets/images/skills-4.png" alt="" class="block__footer-img block__footer-img--second">
    </div>

    </div>
  </div><!-- /.container -->
</div><!-- /.programm -->