<div class="questions">
  <div class="container">
    <div class="questions__inner">

      <div class="programm__title">
        А ТАКИЕ ВОПРОСЫ МОГУТ БЫТЬ У ВАС
      </div>
  
      <div class="programm__block">
    
        <div class="programm__item">
          <div class="programm__item-title">
            Я ТОЧНО ВСЕМУ НАУЧУСЬ? У МЕНЯ ПОЛУЧИТСЯ?
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            КАК Я БУДУ УЧИТЬСЯ СКОРОСТНОМУ НАРАЩИВАНИЮ ОНЛАЙН?
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            СКОЛЬКО ВРЕМЕНИ БУДЕТ УХОДИТЬ НА ВЫПОЛНЕНИЕ ДЗ?
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            КАК ЧАСТО БУДУТ ВЫХОДИТЬ УРОКИ?
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
        <div class="programm__item">
          <div class="programm__item-title">
            КАКАЯ ТЕХНИКА БУДЕТ ОТРАБАТЫВАТЬСЯ: РУЧНАЯ ИЛИ ЛЕНТОЧНАЯ?
          </div>
          <button class="programm__item-btn">
            <img src="assets/images/plus.png" alt="">
          </button>
        </div>
  
      </div><!-- /.programm__block -->

      <div class="block__footer">
        <img src="assets/images/telegram-icon.svg" alt="" class="block__footer-icon">
        <div class="block__footer-info">
            <p>
              У ВАС ЕСТЬ ДРУГОЙ ВОПРОС?
            </p>
            <p>
              НАПИШИТЕ МНЕ В ТЕЛЕГРАМ
            </p>
        </div><!-- /.block__footer-info -->

        <a href="https://t.me/kemfetka" target="_blank" class="signup__btn">
          НАПИСАТЬ
        </a>
    </div><!-- /. block__footer -->

    <div class="block__footer-container">
      <img src="assets/images/skills-4.png" alt="" class="block__footer-img block__footer-img--third">
  </div>

    </div>
  </div>
</div>