<div class="tariff">
  <div class="container">
    <div class="tariff__inner">

      <h2 class="tariff__title">
        ТАРИФЫ УЧАСТИЯ
      </h2>

      <div class="tariff__list">

        <div class="tariff__item">
          <h3 class="tariff__item-name">LITE (САМОСТОЯТЕЛЬНЫЙ)</h3>

          <ul class="tariff__item-list">
            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ПОДРОБНЫХ УРОКОВ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ЗАДАНИЙ НА ПОСТРОЕНИЕ СКОРОСТНОЙ РАБОТЫ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">ЧАТ С ЕДИНОМЫШЛЕННИКАМИ </li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ПОДРОБНЫХ УРОКОВ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon tariff__item-icon--minus" src="assets/images/tariff-minus.svg" alt="">
              </div>
              <div>
                <li class="tariff__stroke tariff__stroke--disabled">2 МАСТЕРМАИНДА С ЮЛИЕЙ ВОРМАН</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon tariff__item-icon--minus" src="assets/images/tariff-minus.svg" alt="">
              </div>
              <div>
                <li class="tariff__stroke tariff__stroke--disabled">ЛИЧНОЕ ВЕДЕНИЕ ОТ ЮЛИИ ВОРМАН</li>
              </div>
            </div>


          </ul>

          <h3 class="tariff__length">
            ДЛИТЕЛЬНОСТЬ: 14 ДНЕЙ
          </h3>

          <div class="tariff__plan">
            <h4 class="tariff__plan-payment">
              КАЖДЫ2
              <span class="bold">20 ОПЛАТ</span>
              + 1111 Р.
            </h4>

            <h4 class="tariff__price"><span class="bold">6666 Р.</span></h4>
          </div><!-- /.tariff__plan -->

          <a href="#" class="payment__btn">
            Оплатить
          </a>

          <img class="tariff__item-photo" src="assets/images/tariff-like.png" alt="">

        </div><!-- /.tariff__item -->

        <div class="tariff__item">
          <h3 class="tariff__item-name">PLUS (С КУРАТОРОМ)</h3>

          <ul class="tariff__item-list">
            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ПОДРОБНЫХ УРОКОВ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ЗАДАНИЙ НА ПОСТРОЕНИЕ СКОРОСТНОЙ РАБОТЫ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">ЧАТ С ЕДИНОМЫШЛЕННИКАМИ </li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ПОДРОБНЫХ УРОКОВ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon tariff__item-icon--minus" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">2 МАСТЕРМАИНДА С ЮЛИЕЙ ВОРМАН</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon tariff__item-icon--minus" src="assets/images/tariff-minus.svg" alt="">
              </div>
              <div>
                <li class="tariff__stroke tariff__stroke--disabled">ЛИЧНОЕ ВЕДЕНИЕ ОТ ЮЛИИ ВОРМАН</li>
              </div>
            </div>


          </ul>

          <h3 class="tariff__length">
            ДЛИТЕЛЬНОСТЬ: 14 ДНЕЙ
          </h3>

          <div class="tariff__plan">
            <h4 class="tariff__plan-payment">
              КАЖДЫ2
              <span class="bold">20 ОПЛАТ</span>
              + 1111 Р.
            </h4>

            <h4 class="tariff__price"><span class="bold">11111 Р.</span></h4>
          </div><!-- /.tariff__plan -->

          <a href="#" class="payment__btn">
            Оплатить
          </a>

          <img class="tariff__item-photo" src="assets/images/tariff-love.png" alt="">

        </div><!-- /.tariff__item -->

        <div class="tariff__item">
          <h3 class="tariff__item-name">BOMBA (С ЮЛИЕЙ ВОРМАН)</h3>

          <ul class="tariff__item-list">
            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ПОДРОБНЫХ УРОКОВ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ЗАДАНИЙ НА ПОСТРОЕНИЕ СКОРОСТНОЙ РАБОТЫ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">ЧАТ С ЕДИНОМЫШЛЕННИКАМИ </li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">9 ПОДРОБНЫХ УРОКОВ</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon tariff__item-icon--minus" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">3 МАСТЕРМАИНДА С ЮЛИЕЙ ВОРМАН</li>
              </div>
            </div>

            <div class="tariff__item-point">
              <div>
                <img class="tariff__item-icon tariff__item-icon--minus" src="assets/images/tariff-plus.png" alt="">
              </div>
              <div>
                <li class="tariff__stroke">ЛИЧНОЕ ВЕДЕНИЕ ОТ ЮЛИИ ВОРМАН</li>
              </div>
            </div>


          </ul>

          <h3 class="tariff__length">
            ДЛИТЕЛЬНОСТЬ: 14 ДНЕЙ
          </h3>

          <div class="tariff__plan">
            <h4 class="tariff__plan-payment">
              КАЖДЫ2
              <span class="bold">20 ОПЛАТ</span>
              + 1111 Р.
            </h4>

            <h4 class="tariff__price"><span class="bold">33333 Р.</span></h4>
          </div><!-- /.tariff__plan -->

          <a href="#" class="payment__btn">
            Оплатить
          </a>

          <img class="tariff__item-photo" src="assets/images/tariff-star.png" alt="">

        </div><!-- /.tariff__item -->

      </div><!-- /.tariff__list -->

      <div class="tariff__footer">

        <div class="tariff__footer-text">

          <div>
            <img class="tariff__footer-icon" src="assets/images/pluses/plus-4.svg" alt="">
          </div>

          <div class="tariff__text">
            ИДЕТЕ НА ИНТЕНСИВ? ВЫЛОЖИТЕ ОБ ЭТОМ СТОРИС-ШАБЛОН С ОТМЕТКОЙ ЮЛИИ ВОРМАН И ВАС БУДЕТ ЖДАТЬ РОЗЫГРЫШ
            ДОПОЛНИТЕЛЬНОГО ПОДАРКА!
          </div>

        </div><!-- /.tariff__footer-text -->

        <div class="tariff__footer-template">
          <a href="#" class="stories__btn">
            СТОРИС-ШАБЛОН
          </a>
        </div>

        <span class="tariff__footer-mention">
          @ULIAVORMAN
        </span>

      </div><!-- /.tariff__footer -->

    </div><!-- /.tariff__inner -->
  </div><!-- /.container -->
</div><!-- /.tariff -->