<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>

    {{> header }}

    <div class="page__title"><span class="orange">Working</span> Process</div>
    <div class="page__subtitle">Lorem ipsum dolor sit amet consectet ur adipiscing elit  Vestibulum bibend um vestibulum.</div>

    {{> process }}

    <div class="page__title"><span class="orange">Featured</span> Works</div>
    <div class="page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</div> 

    {{> works }}

    <div class="page__title"><span class="orange">Services</span> We Provide</div>
    <div class="page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</div>

    {{> service }}

    <div class="page__title"><span class="orange">Team</span> Chinen & Skills</div>
    <div class="page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</div>

    {{> team }}

    {{> reviews }}

    {{> partner }}

    {{> footer }}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>