<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>

    {{> header }}

    <div class="skills">
        <div class="container">
            <div class="skills__inner">

                <div class="skills__title">ТЕБЕ НА ИНТЕНСИВ ЕСЛИ ТЫ</div>

                <div class="skills__block">
                    <div class="skills__block-item">
                        <div class="skills__block-container">
                            <div class="skills__block-img 
                            skills__block-img--start">
                                <img class="skills__block-icon" src="assets/images/skills-1.png" alt="">
                            </div>
                            <div class="skills__block-text">
                                <p class="item__text">ЛАШМЕЙКЕР, КОТОРЫЙ</p>
                                <p class="item__text">ДЕЛАЕТ НАРАЩИВАНИЕ</p>
                                <p class="item__text bold">ДОЛЬШЕ ОДНОГО ЧАСА?</p>
                            </div>
                        </div>
                    </div><!-- /.skills__block-item -->

                    <div class="skills__block-item">
                        <div class="skills__block-container">
                            <div class="skills__block-img skills__block-img--end">
                                <img class="skills__block-icon" src="assets/images/skills-2.png" alt="">
                            </div>
                            <div class="skills__block-text">
                                <p class="item__text">МАСТЕР, КОТОРЫЙ ХОЧЕТ</p>
                                <p class="item__text"><span class="bold">ПОМЕНЯТЬ МЫШЛЕНИЕ</span> О</p>
                                <p class="item__text">НАРАЩИВАНИИ РЕСНИЦ</p>
                            </div>
                        </div>
                    </div><!-- /.skills__block-item -->

                    <div class="skills__block-item">
                        <div class="skills__block-container">
                            <div class="skills__block-img skills__block-img--start">
                                <img class="skills__block-icon" src="assets/images/skills-3.png" alt="">
                            </div>
                            <div class="skills__block-text">
                                <p class="item__text">СПЕЦИАЛИСТ, КОТОРОМУ </p>
                                <p class="item__text">НЕОБХОДИМЫ <span class="bold">ПОДДЕРЖКА</span></p>
                                <p class="item__text bold">И КОМЬЮНИТИ РЯДОМ</p>
                            </div>
                        </div>
                    </div><!-- /.skills__block-item -->
                </div><!-- /.skills__block -->

                <div class="block__footer">
                    <div class="block__footer-info">
                        <p>
                            ЗАРЯДИСЬ ЭНЕРГИЕЙ И СТАНЬ САМЫМ
                        </p>
                        <p>
                            ЗНАМЕНИТЫМ МАСТЕРОМ СВОЕГО ГОРОДА
                        </p>
                    </div><!-- /.block__footer-info -->

                    <a href="#" class="signup__btn">
                        ЗАПИСАТЬСЯ
                    </a>
                </div><!-- /. block__footer -->

                <div class="block__footer-container">
                    <img src="assets/images/skills-4.png" alt="" class="block__footer-img">
                </div>

            </div><!-- /.skills__inner -->
        </div><!-- /.container -->
    </div><!-- /.skiils -->

    <div class="waiting">
        <div class="container">
            <div class="waiting__inner">

                <h2 class="waiting__title">
                    НА ИНТЕНСИВЕ ТЕБЯ ЖДЕТ
                </h2>
                <div class="waiting__pluses">

                    <div class="plus__item">
                        <div class="plus__item-container">
                            <div class="plus__item-img">
                                <img src="assets/images/pluses/plus-1.svg" alt="" class="plus__item-icon">
                            </div>
                            <div class="plus__item-info">
                                <p class="info__text"><span class="bold">9 УРОКОВ</span> С ДОМАШНИМИ</p>
                                <p class="info__text">ЗАДАНИЯМИ И ПРОВЕРКОЙ</p>
                            </div>
                        </div>
                    </div><!-- /.plus__item -->

                    <div class="plus__item">
                        <div class="plus__item-container">
                            <div class="plus__item-img">
                                <img src="assets/images/pluses/plus-2.svg" alt="" class="plus__item-icon">
                            </div>
                            <div class="plus__item-info">
                                <p class="info__text"><span class="bold">9 УРОКОВ</span> С ДОМАШНИМИ</p>
                                <p class="info__text">ЗАДАНИЯМИ И ПРОВЕРКОЙ</p>
                            </div>
                        </div>
                    </div><!-- /.plus__item -->

                    <div class="plus__item">
                        <div class="plus__item-container">
                            <div class="plus__item-img">
                                <img src="assets/images/pluses/plus-3.svg" alt="" class="plus__item-icon">
                            </div>
                            <div class="plus__item-info">
                                <p class="info__text"><span class="bold">9 УРОКОВ</span> С ДОМАШНИМИ</p>
                                <p class="info__text">ЗАДАНИЯМИ И ПРОВЕРКОЙ</p>
                            </div>
                        </div>
                    </div><!-- /.plus__item -->

                    <div class="plus__item">
                        <div class="plus__item-container">
                            <div class="plus__item-img">
                                <img src="assets/images/pluses/plus-4.svg" alt="" class="plus__item-icon">
                            </div>
                            <div class="plus__item-info">
                                <p class="info__text"><span class="bold">9 УРОКОВ</span> С ДОМАШНИМИ</p>
                                <p class="info__text">ЗАДАНИЯМИ И ПРОВЕРКОЙ</p>
                            </div>
                        </div>
                    </div><!-- /.plus__item -->

                    <div class="plus__item">
                        <div class="plus__item-container">
                            <div class="plus__item-img">
                                <img src="assets/images/pluses/plus-4.svg" alt="" class="plus__item-icon">
                            </div>
                            <div class="plus__item-info">
                                <p class="info__text"><span class="bold">9 УРОКОВ</span> С ДОМАШНИМИ</p>
                                <p class="info__text">ЗАДАНИЯМИ И ПРОВЕРКОЙ</p>
                            </div>
                        </div>
                    </div><!-- /.plus__item -->

                    <div class="plus__item">
                        <div class="plus__item-container">
                            <div class="plus__item-img">
                                <img src="assets/images/pluses/plus-4.svg" alt="" class="plus__item-icon">
                            </div>
                            <div class="plus__item-info">
                                <p class="info__text"><span class="bold">9 УРОКОВ</span> С ДОМАШНИМИ</p>
                                <p class="info__text">ЗАДАНИЯМИ И ПРОВЕРКОЙ</p>
                            </div>
                        </div>
                    </div><!-- /.plus__item -->

                </div><!-- /.waiting__pluses -->

                <h2 class="waiting__title">
                    И, КОНЕЧНО, ЮЛИЯ ВОРМАН
                </h2>

                <div class="waiting__about">
                    <div class="about__info">
                        <p class="about__text mb4r"><span class="bold">БОЛЬШЕ 12 ЛЕТ</span> Я НАРАЩИВАЮ РЕСНИЦЫ <span
                                class="bold">ЗА 1 ЧАС.</span> В ПРОФЕССИ Я РАЗВИВАЮСЬ <span class="bold">С
                                2008 ГОДА</span> И, ПУТЕМ ПРОБ И ОШИБОК, ДОШЛА <span class="bold">ДО ИДЕАЛЬНЫХ
                                РЕЗУЛЬТАТОВ!</span> МОИ ПРОФЕССИОНАЛЬНЫЕ
                            НАВЫКИ СДЕЛАЛИ МЕНЯ <span class="bold">МНОГОКРАТНЫМ ПРИЗЕРОМ</span>, А ПОТОМ И <span
                                class="bold">СУДЬЕЙ МЕЖДУНАРОДНЫХ ЧЕМПИОНАТОВ ПО
                                НАРАЩИВАНИЮ РЕСНИЦ</span>
                        </p>
                        <p class="about__text">Я ОСНОВАЛА <span class="bold">СЕТЬ САЛОНОВ VERSUS</span> И ТЕПЕРЬ АКТИВНО
                            ЗАПУСКАЮ СВОИ ОБУЧЕНИЯ <span class="bold">ПО
                                СКОРОСТНОМУ НАРАЩИВАНИЮ</span>. ЛОМАЮ СТЕРЕОТИПЫ, <span class="bold">УЧУ МАСТЕРОВ
                                ПОДНИМАТЬ ЧЕКИ И ЗАРАБАТЫВАТЬ
                                МИЛЛИОНЫ.</span>
                        </p>

                        <div class="about__numbers">
                            <div class="number__block">
                                <h2 class="number__suptitle">1 ЧАС</h2>
                                <h3 class="number__subtitle">САМОЕ БЫСТРОЕ 5D </h3>
                            </div>

                            <div class="number__block">
                                <h2 class="number__suptitle">12+ ЛЕТ</h2>
                                <h3 class="number__subtitle">РАБОТАЮ СВОЕЙ СФЕРЕ</h3>
                            </div>

                            <div class="number__block">
                                <h2 class="number__suptitle">1+ МЛН</h2>
                                <h3 class="number__subtitle">В МЕСЯЦ ДЕЛАЮ НА РЕСНИЦАХ</h3>
                            </div>

                            <div class="number__block">
                                <h2 class="number__suptitle">100000+</h2>
                                <h3 class="number__subtitle">КЛИЕНТОК Я ОСЧАСТЛИВИЛА</h3>
                            </div>
                        </div>

                        <p class="about__text">
                            ВСЕ МОИ НАРАЩИВАНИЯ Я ДЕЛАЮ ЗА 1 - МАКСИМУМ 1.5 ЧАСА
                        </p>
                        <p class="about__text--bold">
                            ХОЧЕШЬ ТАКЖЕ? СМОТРИ ПРОГРАММУ И ЗАПИСЫВАЙСЯ НА ИНТЕНСИВ
                        </p>

                    </div><!-- /.about__info -->

                    <div class="about__img">
                        <a data-fslightbox href="assets/images/photo-julia.png">
                            <img class="about__photo" src="assets/images/photo-julia.png">
                            </a>
                    </div>

                </div>

            </div><!-- /.waiting__inner -->
        </div><!-- /.container -->
    </div><!-- /.waiting -->

    {{> programm }}

    {{> tariff }}

    {{> questions }}

    {{> footer }}

    <script src="assets/js/app.js"></script>
</body>

</html>